<a href="https://colab.research.google.com/github/NatSama2/Bootcamp-Analisis-de-Datos/blob/main/Modulo-5/EDA_30_Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# EDA: Análisis Exploratorio de Datos - 30 Ejercicios Resueltos

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Dataset de ejemplo
data = {
    'Edad': [23, 45, 31, 35, 62, 28, 41, 37, 50, 29, np.nan, 44, 36, 33, 27],
    'Salario': [50000, 80000, 62000, 58000, 90000, 52000, 75000, 67000, 87000, 53000, 60000, 79000, 66000, 64000, 56000],
    'Genero': ['F', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'M', 'F'],
    'Departamento': ['Ventas', 'IT', 'Ventas', 'RRHH', 'IT', 'Ventas', 'IT', 'RRHH', 'IT', 'Ventas', 'RRHH', 'IT', 'RRHH', 'Ventas', 'IT'],
    'Antiguedad': [1, 10, 3, 5, 20, 2, 8, 7, 18, 2, 4, 11, 6, 3, 5]
}
df = pd.DataFrame(data)

In [ ]:
print(df.head())  # Ejercicio 1: Vista general

In [ ]:
print(df.dtypes)  # Ejercicio 2: Tipos de datos

In [ ]:
print(df.describe())  # Ejercicio 3: Estadísticas básicas

In [ ]:
print(df.isnull().sum())  # Ejercicio 4: Detección de valores nulos

In [ ]:
print(df.dropna())  # Ejercicio 5: Eliminación de filas con nulos

In [ ]:
print(df.fillna(df['Edad'].mean()))  # Ejercicio 6: Rellenar nulos

In [ ]:
sns.histplot(df['Edad'], bins=10, kde=True); plt.title('Distribución de Edad'); plt.show()  # Ejercicio 7

In [ ]:
sns.boxplot(x=df['Salario']); plt.title('Boxplot de Salario'); plt.show()  # Ejercicio 8

In [ ]:
print(df['Genero'].value_counts())  # Ejercicio 9

In [ ]:
sns.countplot(x='Genero', data=df); plt.title('Frecuencia por Género'); plt.show()  # Ejercicio 10

In [ ]:
print(df.groupby('Departamento')['Salario'].mean())  # Ejercicio 11

In [ ]:
sns.barplot(x='Departamento', y='Salario', data=df, estimator=np.mean); plt.title('Salario promedio por Departamento'); plt.show()  # Ejercicio 12

In [ ]:
print(df.corr(numeric_only=True))  # Ejercicio 13

In [ ]:
sns.heatmap(df.corr(numeric_only=True), annot=True, cmap='coolwarm'); plt.title('Matriz de Correlación'); plt.show()  # Ejercicio 14

In [ ]:
sns.scatterplot(x='Edad', y='Salario', data=df); plt.title('Edad vs Salario'); plt.show()  # Ejercicio 15

In [ ]:
from scipy.stats import zscore
z_scores = zscore(df[['Edad', 'Salario']].dropna())
outliers = (np.abs(z_scores) > 2)
print(outliers)  # Ejercicio 16

In [ ]:
print(df['Edad'].value_counts().sort_index())  # Ejercicio 17

In [ ]:
df['Rango_Edad'] = pd.cut(df['Edad'], bins=[20, 30, 40, 50, 60, 70], labels=['20-30','30-40','40-50','50-60','60-70'])
print(df[['Edad', 'Rango_Edad']])  # Ejercicio 18

In [ ]:
print(pd.crosstab(df['Genero'], df['Departamento']))  # Ejercicio 19

In [ ]:
print(df.pivot_table(values='Salario', index='Genero', columns='Departamento'))  # Ejercicio 20

In [ ]:
sns.jointplot(x='Edad', y='Salario', data=df)  # Ejercicio 21

In [ ]:
sns.violinplot(x='Genero', y='Salario', data=df); plt.title('Distribución de Salario por Género'); plt.show()  # Ejercicio 22

In [ ]:
for dep in df['Departamento'].unique():
    sns.histplot(df[df['Departamento'] == dep]['Salario'], label=dep, kde=True)
plt.legend(); plt.title('Salario por Departamento'); plt.show()  # Ejercicio 23

In [ ]:
print(df.groupby(['Genero', 'Departamento']).size())  # Ejercicio 24

In [ ]:
sns.boxplot(x='Departamento', y='Salario', data=df); plt.title('Boxplot de Salario por Departamento'); plt.show()  # Ejercicio 25

In [ ]:
print(df.groupby('Genero')['Edad'].mean())  # Ejercicio 26

In [ ]:
print(df.groupby('Rango_Edad')['Salario'].sum())  # Ejercicio 27

In [ ]:
def rango_salario(sal):
    if sal < 60000:
        return 'Bajo'
    elif sal <= 75000:
        return 'Medio'
    else:
        return 'Alto'
df['Categoria_Salario'] = df['Salario'].apply(rango_salario)
print(df[['Salario', 'Categoria_Salario']])  # Ejercicio 28

In [ ]:
tabla = pd.crosstab(df['Categoria_Salario'], df['Genero'])
sns.heatmap(tabla, annot=True, cmap='YlGnBu'); plt.title('Categoría de Salario vs Género'); plt.show()  # Ejercicio 29

In [ ]:
df_clean = df.dropna()
df_clean.to_csv('datos_limpios.csv', index=False)
print("Archivo exportado con éxito.")  # Ejercicio 30