<a href="https://colab.research.google.com/github/NatSama2/Bootcamp-Analisis-de-Datos/blob/main/Modulo-4/30_Ejercicios_Pivot_Despivot_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 游빑 Ejercicios  con Pandas

In [ ]:
import pandas as pd
import numpy as np

# Creamos un DataFrame base
data = {
    'A침o': [2020, 2020, 2021, 2021, 2022, 2022]*2,
    'Mes': ['Ene', 'Feb', 'Ene', 'Feb', 'Ene', 'Feb']*2,
    'Ciudad': ['Santiago']*6 + ['Valpara칤so']*6,
    'Ventas': np.random.randint(1000, 5000, 12),
    'Costos': np.random.randint(500, 4000, 12)
}
df = pd.DataFrame(data)
df

### 1. Pivot por a침o y ciudad para mostrar ventas

In [ ]:
df.pivot_table(index='A침o', columns='Ciudad', values='Ventas', aggfunc='sum')

### 2. Pivot con m칰ltiples valores: Ventas y Costos

In [ ]:
df.pivot_table(index='A침o', columns='Ciudad', values=['Ventas','Costos'], aggfunc='sum')

### 3. Pivot por A침o y Mes

In [ ]:
df.pivot_table(index=['A침o','Mes'], columns='Ciudad', values=['Ventas','Costos'], aggfunc='sum')

### 4. Pivot con 칤ndice compuesto

In [ ]:
df.pivot(index=['A침o', 'Mes'], columns='Ciudad', values='Ventas')

### 5. Pivot con valores faltantes

In [ ]:
df2 = df.copy()
df2.loc[0, 'Ventas'] = np.nan
df2.pivot(index=['A침o', 'Mes'], columns='Ciudad', values='Ventas')

### 6. Reemplazar NaN tras pivot

In [ ]:
df2.pivot_table(index='A침o', columns='Ciudad', values='Ventas', aggfunc='sum').fillna(0)

### 7. Pivot_table con promedio

In [ ]:
df.pivot_table(index='Ciudad', columns='A침o', values='Ventas', aggfunc='mean')

### 8. Pivot_table con suma por ciudad y mes

In [ ]:
df.pivot_table(index='Ciudad', columns='Mes', values='Costos', aggfunc='sum')

### 9. Pivot_table con m칰ltiples agregaciones

In [ ]:
df.pivot_table(index='Ciudad', columns='A침o', values='Ventas', aggfunc=['mean','max'])

### 10. Pivot_table con m칰ltiples 칤ndices

In [ ]:
df.pivot_table(index=['Ciudad', 'Mes'], columns='A침o', values='Ventas', aggfunc='sum')

### 11. Melt para pasar columnas a filas

In [ ]:
df.melt(id_vars=['A침o', 'Mes', 'Ciudad'], value_vars=['Ventas', 'Costos'])

### 12. Melt con solo una variable

In [ ]:
df.melt(id_vars=['A침o'], value_vars='Ventas')

### 13. Melt y renombrar columnas

In [ ]:
df.melt(id_vars=['A침o', 'Ciudad'], value_vars='Ventas', var_name='Tipo', value_name='Valor')

### 14. Melt en un DataFrame pivotado

In [ ]:
pivoted = df.pivot_table(index='A침o', columns='Ciudad', values='Ventas', aggfunc='sum')
df_restored = pivoted.reset_index().melt(id_vars='A침o', var_name='Ciudad', value_name='Ventas')
df_restored.head()

### 15. Melt con m칰ltiples valores y tipos

In [ ]:
df.melt(id_vars=['Ciudad'], value_vars=['Ventas', 'Costos'], var_name='Tipo', value_name='Monto')

### 16. Crear DataFrame MultiIndex

In [ ]:
df_multi = df.set_index(['A침o', 'Ciudad'])
df_multi.head()

### 17. Aplicar stack

In [ ]:
df_multi.stack()

### 18. Aplicar unstack

In [ ]:
df_multi_fixed = df.set_index(['A침o', 'Ciudad', 'Mes'])
df_multi_fixed.unstack().head()

### 19. Stack y unstack combinados

In [ ]:
df_multi_fixed.unstack().stack(future_stack=True).equals(df_multi_fixed)

### 20. Unstack por nivel 1

In [ ]:
df_multi_fixed = df.set_index(['A침o', 'Mes', 'Ciudad'])
df_multi_fixed.unstack(level=2).head()

### 21. Unstack y rellenar nulos

In [ ]:
df_multi_fixed.unstack(level='Mes').fillna(0).head()

### 22. Pivot y luego melt para restaurar

In [ ]:
df_pivot = df.pivot_table(index='A침o', columns='Ciudad', values='Ventas', aggfunc='sum')
df_restored = df_pivot.reset_index().melt(id_vars='A침o', var_name='Ciudad', value_name='Ventas')
df_restored.head()

### 23. Melt y luego pivot

In [ ]:
df_m = df.melt(id_vars=['A침o', 'Ciudad'], value_vars='Ventas')
df_m.pivot_table(index='A침o', columns='Ciudad', values='value', aggfunc='sum')

### 24. Pivot_table con m칰ltiples funciones

In [ ]:
df.pivot_table(index='Ciudad', values='Ventas', aggfunc=['sum', 'mean', 'max'])

### 25. Tabla de totales con margins

In [ ]:
df.pivot_table(index='Ciudad', columns='A침o', values='Ventas', aggfunc='sum', margins=True)

### 26. Columnas anidadas

In [ ]:
df.pivot_table(index='A침o', columns=['Ciudad', 'Mes'], values='Ventas')

### 27. Melt con columnas jer치rquicas

In [ ]:
df_pivot = df.pivot_table(index='A침o', columns='Ciudad', values='Ventas')
df_pivot.columns.name = 'Ciudad'
df_pivot.reset_index().melt(id_vars='A침o')

### 28. Unstack m칰ltiples veces

In [ ]:
df3 = df.set_index(['Ciudad', 'A침o', 'Mes'])
df3.unstack().unstack().head()

### 29. Pivot y rename axis

In [ ]:
table = df.pivot_table(index='A침o', columns='Ciudad', values='Ventas', aggfunc='sum')
table.rename_axis(columns='Localidad', index='Periodo')

### 30. Comparar pivot y pivot_table

In [ ]:
pivot = df.pivot_table(index='A침o', columns='Ciudad', values='Ventas', aggfunc='mean')
pivot_table = df.pivot_table(index='A침o', columns='Ciudad', values='Ventas', aggfunc='mean')
print(pivot.equals(pivot_table))