<a href="https://colab.research.google.com/github/NatSama2/Bootcamp-Analisis-de-Datos/blob/main/Modulo-4/ejercicios_pandas_ventas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <font color='blue'>**Introducci√≥n a Pandas**</font>

La librer√≠a **pandas** proporciona estructuras de datos y funciones de alto nivel que permiten trabajar con datos estructurados de manera muy c√≥moda. Estas estructuras y funciones son, normalmente, de las m√°s usadas en an√°lisis de datos.

<img src='https://drive.google.com/uc?export=view&id=1cc63iaYdq6YzJDdUWyWDFZ4YzeB2lBa2' width="300" align="center" style="margin-right: 20px">

Los principales objetos ofrecidos por pandas son el **dataframe**, estructura tabular bidimensional, y la **serie**, ambas basadas en el array multidimensional de NumPy. Aun cuando NumPy ofrece una muy conveniente y eficiente estructura para el almacenamiento de datos, el `ndarray`, √©ste presenta importantes limitaciones cuando, durante un an√°lisis, se hace necesaria m√°s flexibilidad a la hora de aplicar etiquetas a nuestros datos, gestionar valores inexistentes, realizar agrupaciones por etiquetas, etc., limitaciones que son resueltas por las estructuras de m√°s alto nivel ofrecidas por pandas.

La documentaci√≥n oficial est√° disponible en el sitio we oficial de <a href="https://pandas.pydata.org/">pandas</a>.

Esta librer√≠a se importa habitualmente con el alias `pd`:

In [ ]:
import pandas as pd

## <font color='blue'>**Estructuras de datos en pandas: Series**</font>

Las **series** son estructuras unidimensionales que contenienen un array de datos (de cualquier tipo soportado por NumPy) y un array de etiquetas que van asociadas a los datos, llamado √≠ndice (*index* en ingl√©s):

In [ ]:
ventas = pd.Series([15, 12, 21, 38], index = ["Ene", "Feb", "Mar", "Abr"])
ventas

Ene    15
Feb    12
Mar    21
Abr    38
dtype: int64

Los elementos de la serie pueden extraerse con el nombre de la serie y, entre corchetes, el √≠ndice (posici√≥n) del elemento o su etiqueta (si la tiene):

In [ ]:
ventas[0]

15

In [ ]:
ventas["Ene"]

15

In [ ]:
ventas = pd.Series([15, 12, 21, 38])
ventas

0    15
1    12
2    21
3    38
dtype: int64

Las etiquetas que forman el √≠ndice no necesitan ser diferentes. Pueden ser de cualquier tipo (num√©rico, textos, tuplas, etc.) siempre que sea posible aplicar la funci√≥n *hash* sobre ellas.

**Nota: La funci√≥n hash devuelve el valor hash del objeto cedido como par√°metro -si tiene uno-. Los valores hash son enteros. Los valores num√©ricos que, al ser comparados, devuelven el valor True tienen el mismo valor hash asociado, incluso si son de distinto tipo.**

La relaci√≥n entre una etiqueta y un valor se mantendr√°, salvo que lo modifiquemos expl√≠citamente. Esto quiere decir que, filtrar una serie o eliminar un elemento de la serie, por ejemplo, no va a modificar las etiquetas asignadas a cada valor.

Los √≠ndices de las etiquetas son inmutables, es decir, aun cuando es posible asignar a una serie un nuevo conjunto de etiquetas a trav√©s del atributo *index*, intentar modificar un √∫nico valor del index v a devolver un error.

Al igual que ocurre con el array NumPy, una serie pandas solo puede contener datos de un mismo tipo. En la imagen anterior puede apreciarse el √≠ndice a la izquierda ("Ene", "Feb" y "Mar") y los datos a la derecha (15, 12 y 21). El tipo de la serie, accesible a trav√©s del atributo `dtype`, coincide con el tipo de los datos que contiene:

In [ ]:
ventas.dtype

dtype('int64')

Podemos acceder a los objetos que contienen los √≠ndices y los valores a trav√©s de los atributos `index` y `values` de la serie, respectivamente:

In [ ]:
ventas.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
ventas.values

array([15, 12, 21, 38])

La serie tiene un atributo `name`, atributo que tambi√©n encontramos en el √≠ndice. Una vez los hemos fijado, se muestran junto con la estructura al imprimir la serie:

In [ ]:
ventas.name

In [ ]:
ventas

0    15
1    12
2    21
3    38
dtype: int64

In [ ]:
ventas.index.name = "Meses"
ventas

Meses
0    15
1    12
2    21
3    38
dtype: int64

El atributo `axes` da acceso a una lista con los ejes de la serie (solo contiene un elemento al tratarse de una estructura unidimensional):

In [ ]:
ventas.axes

[RangeIndex(start=0, stop=4, step=1, name='Meses')]

El atributo `shape` nos devuelve el tama√±o de la serie:

In [ ]:
ventas.shape

(4,)

El listado completo de los atributos de las series lo pueden encontrar en la documentaci√≥n oficial de pandas, <a href="https://pandas.pydata.org/pandas-docs/stable/reference/series.html">aqu√≠</a>.

## <font color='blue'>**Estructuras de datos en pandas: Dataframes**</font>

Los **dataframes** son estructuras tabulares de datos orientadas a columnas,
con etiquetas tanto en filas como en columnas:

In [ ]:
ventas = pd.DataFrame({
    "Entradas": [41, 32, 56, 18],
    "Salidas": [17, 54, 6, 78],
    "Valoraci√≥n": [66, 54, 49, 66],
    "L√≠mite": ["No", "Si", "No", "No"],
    "Cambio": [1.43, 1.16, -0.67, 0.77]
    },
    index = ["Ene", "Feb", "Mar", "Abr"]
    )
ventas

     Entradas  Salidas  Valoraci√≥n L√≠mite  Cambio
Ene        41       17          66     No    1.43
Feb        32       54          54     Si    1.16
Mar        56        6          49     No   -0.67
Abr        18       78          66     No    0.77

Para crear el dataframe anterior hemos usado el constructor **pd.DataFrame** y le hemos pasado un diccionario y una lista: las claves del diccionario ser√°n los nombres de las columnas, sus valores, los valores de las columnas, y los valores de la lista se convertir√°n en las etiquetas de filas.

Una columna solo puede contener un tipo de datos, pero cada columna del dataframe puede contener un tipo de datos diferente. Podemos acceder a los tipos de las columnas con el atributo `dtypes`:

In [ ]:
print(type(ventas), '\n')
ventas.dtypes

<class 'pandas.core.frame.DataFrame'>

Entradas        int64
Salidas         int64
Valoraci√≥n      int64
L√≠mite         object
Cambio        float64
dtype: object

Las etiquetas de filas y de columnas -los √≠ndices- son accesibles a trav√©s de los atributos `index` y `columns`, respectivamente:

In [ ]:
ventas.index

Index(['Ene', 'Feb', 'Mar', 'Abr'], dtype='object')

In [ ]:
ventas.columns

Index(['Entradas', 'Salidas', 'Valoraci√≥n', 'L√≠mite', 'Cambio'], dtype='object')

In [ ]:
# En ambos casos podemos extraer los valores aplicando la funci√≥n 'list'
list(ventas.columns)

['Entradas', 'Salidas', 'Valoraci√≥n', 'L√≠mite', 'Cambio']

La nomenclatura usada por pandas puede resultar un tanto confusa en lo que se refiere a los √≠ndices: tanto la estructura que contiene las etiquetas de filas como la que contiene las etiquetas de columnas son objetos de tipo *Index* (may√∫scula), pero, como se ha comentado, el √≠ndice de filas se denomina tambi√©n *index* (min√∫sculas), y el de columna, *columns*.

Adem√°s, el nombre de "indice" se aplica normalmente a la referencia de un dato en una estructura seg√∫n su posici√≥n. Por ejemplo, en la lista $m = ["a", "b"]$, el √≠ndice del primer elemento es el n√∫mero o valor que, a√±adido entre corchetes tras el nombre de la lista, nos permite acceder al elemento. As√≠, el √≠ndice del elemento "a" en la lista mencionada es 0, y el √≠ndice del elemento "b" es 1, lo que no es del todo coherente con el concepto de "√≠ndice" de una estructura pandas cuando lo especificamos expl√≠citamente.

Para evitar esta confusi√≥n, a lo largo de esta documentaci√≥n hablaremos normalmente de _"√≠ndices"_ (en plural) para referirnos a estas dos estructuras (de filas y columnas), de _"√≠ndice"_ (en singular) para referirnos al √≠ndice de etiquetas del eje vertical, y de _"√≠ndice de columnas"_ y de _"√≠ndice de filas"_ siempre que sea necesario remarcar a cu√°l estamos refiri√©ndonos.

El __eje 0__ es el correspondiente al √≠ndice de filas (eje vertical) y el __eje 1__ al √≠ndice de columnas (eje horizontal). Como puede verse en los ejemplos anteriores, ambos √≠ndices son de tipo _"objeto"_ (ya se ha comentado que, concretamente, son objetos de tipo Index).

El atributo axes devuelve una lista con los ejes de la estructura (dos, al tratarse de una estructura bidimensional):

In [ ]:
ventas.index.name = "Meses"
ventas.columns.name = "M√©tricas"
ventas

M√©tricas  Entradas  Salidas  Valoraci√≥n L√≠mite  Cambio
Meses
Ene             41       17          66     No    1.43
Feb             32       54          54     Si    1.16
Mar             56        6          49     No   -0.67
Abr             18       78          66     No    0.77

De forma semejante a como ocurr√≠a con las series, el atributo `values` de un dataframe nos permite acceder a los valores del dataframe, con formato `array` NumPy 2d.

In [ ]:
ventas.values

array([[41, 17, 66, 'No', 1.43],
       [32, 54, 54, 'Si', 1.16],
       [56, 6, 49, 'No', -0.67],
       [18, 78, 66, 'No', 0.77]], dtype=object)

Este array tendr√° un tipo u otro en funci√≥n de los tipos de las columnas del dataframe, acomod√°ndose de forma que englobe a todos ellos.

Y un dataframe tambi√©n tiene un atributo `shape` que nos informa de su dimensionalidad y del n√∫mero de elementos en cada dimensi√≥n. Podemos ver en el siguiente ejemplo que el dataframe ventas tiene 4 filas y 5 columnas:

In [ ]:
ventas.shape

(4, 5)

Informaci√≥n adicional sobre los dataframes en la p√°gina de la documentaci√≥n oficial de pandas, <a href="https://pandas.pydata.org/pandas-docs/stable/reference/frame.html">aqu√≠</a>.

# üßæ Ejercicios con Pandas en Python: An√°lisis de Ventas

Este notebook contiene 20 ejercicios con sus respectivas soluciones utilizando la librer√≠a **Pandas** en Python, con un peque√±o dataset de ventas. El objetivo es practicar tareas comunes de an√°lisis de datos.

Primero, cargamos el dataset:

In [ ]:
import pandas as pd

# Cargar el dataset
ventas = pd.read_csv('dataset_ventas.csv')
ventas

### Ejercicio 1: 1. Mostrar las primeras 5 filas del DataFrame

In [ ]:
ventas.head()

### Ejercicio 2: 2. Mostrar el tipo de datos de cada columna

In [ ]:
ventas.dtypes

### Ejercicio 3: 3. Calcular el total de unidades vendidas

In [ ]:
ventas['Unidades'].sum()

### Ejercicio 4: 4. Calcular el total de ventas (columna 'TotalVenta')

In [ ]:
ventas['TotalVenta'].sum()

### Ejercicio 5: 5. Mostrar todas las ventas realizadas por 'Ana'

In [ ]:
ventas[ventas['Vendedor'] == 'Ana']

### Ejercicio 6: 6. Obtener el n√∫mero de ventas por producto

In [ ]:
ventas['Producto'].value_counts()

### Ejercicio 7: 7. Calcular la venta promedio por producto

In [ ]:
ventas.groupby('Producto')['TotalVenta'].mean()

### Ejercicio 8: 8. Ordenar las ventas de mayor a menor por 'TotalVenta'

In [ ]:
ventas.sort_values(by='TotalVenta', ascending=False)

### Ejercicio 9: 9. Agregar una columna con el IVA (19%) aplicado a cada venta

In [ ]:
ventas['IVA'] = ventas['TotalVenta'] * 0.19
ventas

### Ejercicio 10: 10. Filtrar las ventas donde se vendieron m√°s de 3 unidades

In [ ]:
ventas[ventas['Unidades'] > 3]

### Ejercicio 11: 11. Reemplazar 'Tablet' por 'Tableta' en la columna Producto

In [ ]:
ventas['Producto'] = ventas['Producto'].replace('Tablet', 'Tableta')
ventas

### Ejercicio 12: 12. Agrupar por Vendedor y obtener la suma total de ventas

In [ ]:
ventas.groupby('Vendedor')['TotalVenta'].sum()

### Ejercicio 13: 13. Crear una nueva columna 'Descuento' con 10% del TotalVenta si se vendieron m√°s de 5 unidades

In [ ]:
ventas['Descuento'] = ventas.apply(lambda row: row['TotalVenta'] * 0.10 if row['Unidades'] > 5 else 0, axis=1)
ventas

### Ejercicio 14: 14. Calcular el precio promedio unitario por producto

In [ ]:
ventas.groupby('Producto')['PrecioUnitario'].mean()

### Ejercicio 15: 15. Filtrar las ventas realizadas en los primeros 5 d√≠as

In [ ]:
ventas['Fecha'] = pd.to_datetime(ventas['Fecha'])
ventas[ventas['Fecha'] <= '2023-01-05']

### Ejercicio 16: 16. Calcular el total vendido por d√≠a

In [ ]:
ventas.groupby('Fecha')['TotalVenta'].sum()

### Ejercicio 17: 17. Contar cu√°ntas veces vendi√≥ cada vendedor

In [ ]:
ventas['Vendedor'].value_counts()

### Ejercicio 18: 18. Mostrar los 3 productos m√°s vendidos en total de unidades

In [ ]:
ventas.groupby('Producto')['Unidades'].sum().sort_values(ascending=False).head(3)

### Ejercicio 19: 19. Mostrar solo las columnas Vendedor, Producto y TotalVenta

In [ ]:
ventas[['Vendedor', 'Producto', 'TotalVenta']]

### Ejercicio 20: 20. Guardar el DataFrame modificado a un nuevo archivo CSV

In [ ]:
ventas.to_csv('ventas_modificado.csv', index=False)

### Ejercicio 21: 21. Agrupar por producto y vendedor, y calcular la suma total vendida

### Ejercicio 22: 22. Crear una tabla din√°mica con Producto como √≠ndice y Vendedor como columnas

### Ejercicio 23: 23. Extraer el mes de la columna Fecha

### Ejercicio 24: 24. Calcular la venta promedio diaria

### Ejercicio 25: 25. Encontrar la fecha con mayores ventas totales

### Ejercicio 26: 26. Unir el DataFrame de ventas con uno nuevo que contenga metas de ventas por vendedor

### Ejercicio 27: 27. Crear una columna booleana que indique si la venta super√≥ la meta diaria promedio del vendedor

### Ejercicio 28: 28. Ordenar el DataFrame por Vendedor y Fecha

### Ejercicio 29: 29. Crear una columna acumulativa de ventas por vendedor

### Ejercicio 30: 30. Eliminar ventas donde el total sea menor a 500

### Ejercicio 31: 31. Encontrar el promedio de unidades vendidas por producto y vendedor

### Ejercicio 32: 32. Identificar cu√°ntos productos √∫nicos vendi√≥ cada vendedor

### Ejercicio 33: 33. Crear un resumen estad√≠stico del DataFrame solo para columnas num√©ricas

### Ejercicio 34: 34. Reordenar las columnas para que TotalVenta aparezca primero

### Ejercicio 35: 35. Usar .query para seleccionar ventas de Ana mayores a $2000

### Ejercicio 36: 36. Crear un ranking de ventas por vendedor

### Ejercicio 37: 37. Calcular la media m√≥vil de 2 d√≠as del TotalVenta

### Ejercicio 38: 38. Encontrar el producto con menor precio unitario promedio

### Ejercicio 39: 39. Agrupar por mes y calcular el total vendido

### Ejercicio 40: 40. Crear una columna que indique si la venta fue un lunes

### Ejercicio 41: 41. Crear una columna con la desviaci√≥n est√°ndar del TotalVenta por vendedor

### Ejercicio 42: 42. Detectar ventas at√≠picas con z-score > 2

### Ejercicio 43: 43. Aplicar una funci√≥n personalizada con apply para clasificar ventas en baja/media/alta

### Ejercicio 44: 44. Pivotar el DataFrame para tener fechas como columnas

### Ejercicio 45: 45. Derretir el DataFrame anterior con melt

### Ejercicio 46: 46. Crear un MultiIndex con Vendedor y Fecha

### Ejercicio 47: 47. Usar loc con MultiIndex para seleccionar datos de Pedro en una fecha espec√≠fica

### Ejercicio 48: 48. Leer el CSV en fragmentos de 5 filas

### Ejercicio 49: 49. Calcular una agregaci√≥n personalizada: suma + conteo en una sola funci√≥n

### Ejercicio 50: 50. Guardar el resumen total por producto en un nuevo archivo CSV