<a href="https://colab.research.google.com/github/NatSama2/Bootcamp-Analisis-de-Datos/blob/main/Modulo-3/FP15_Operadores_utiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introducción a Python**
# FP15. Operadores útiles (operators)

Hay algunas funciones pre-hechas y operadores incorporados en Python que no encajan bien en ninguna categoría, así que los repasaremos en esta lección, ¡comencemos!

## <font color='blue'>**Operadores básicos**</font>

## La función `range()`

La función `range( )` te permite generar rápidamente una lista de números enteros, esto es muy útil. Toma nota de cómo usarlo!

Hay 3 parámetros que se le pueden pasar a la función:

* un inicio
* una parada
* un tamaño de paso

Veamos algunos ejemplos:

In [1]:
range(0, 11)

range(0, 11)

In [2]:
type(range(0, 11))

range

In [3]:
a = range(0, 11)
print(a)

range(0, 11)

Ten en cuenta que esta es una función generadora (**generator**), por lo que para obtener una lista, necesitamos convertirla en una lista con `list()`.

¿Qué es un generador? Es un tipo especial de función que generará un resultado a la vez, conforme se le solicita; esto permite un uso muy eficiente de la memoria de tu computador. Un generador es una función que devuelve un objeto (del tipo iterador) sobre el que podemos iterar (un valor a la vez). Aún no hemos hablado de funciones o generadores, así que mantén esto en tus notas por ahora, ¡lo discutiremos con mucho más detalle más adelante en tu capacitación!

In [4]:
# Fíjate como el 11 no se incluye en el resultado. Es hasta 11 pero sin el 11.
# Tal como cuando hacemos slicing

list(range(0, 11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(range(0, 12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [6]:
# El tercer parámetro es el tamaño del paso!
# el tamaño del paso solo significa qué tan grande es un salto o paso
# toma del número inicial para pasar al siguiente número.

list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [7]:
list(range(0, 101, 10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

## La función `enumerate()`

`enumerate()` es una función muy útil para usar con `for` loops.
Imagina la siguiente situación:

In [8]:
index_count = 0

for letter in 'abcde':
    print(f"En el índice {index_count} la letra es {letter}")
    index_count += 1

En el índice 0 la letra es a
En el índice 1 la letra es b
En el índice 2 la letra es c
En el índice 3 la letra es d
En el índice 4 la letra es e

Hacer un seguimiento de cuántos ciclos o bucles se han generado es tan común, que se creó la `enumerate()` para no tener que preocuparse por crear y actualizar esta variable *index_coun*t o *loop_count*.

In [9]:
# enumarate() crea tuplas con las letras del string y su indice.
# Fíjate en el desempaquetado de la tupla (tuple unpacking) en la cláusula for!

for i,letter in enumerate('abcde'):
    print(f"En el índice {i} la letra es {letter}")

En el índice 0 la letra es a
En el índice 1 la letra es b
En el índice 2 la letra es c
En el índice 3 la letra es d
En el índice 4 la letra es e

In [10]:
type(enumerate('abcde'))

enumerate

## La función `zip()`

Observa lo que `enumerate` realmente devuelve, echemos un vistazo transformándolo en una lista.

In [11]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

Era una lista de tuplas, lo que significa que podríamos usar el desempaquetado de tuplas durante nuestro ciclo for. Esta estructura de datos es muy común en Python, especialmente cuando se trabaja con bibliotecas externas. Puede utilizar la función `zip()` para crear rápidamente una lista de tuplas "comprimiendo" dos listas juntas.

In [12]:
# Creamos dos listas

mylist1 = [1, 2, 3, 4, 5]
mylist2 = ['a', 'b', 'c', 'd', 'e']

In [13]:
# ¡Este también es un generador! Explicaremos esto más adelante, pero por ahora transformémoslo
# en una lista.
# Al ejecutarlo no entregará nada útil. Debemos recorrerlo e iterar sobre él

zip(mylist1, mylist2)

In [14]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

Para usar el generador, podríamos usar un ciclo `for`

In [15]:
for item1, item2 in zip(mylist1, mylist2):
    print(f'En esta tupla, el primer elemento es {item1}, y el segundo elemento es {item2}')

En esta tupla, el primer elemento es 1, y el segundo elemento es a
En esta tupla, el primer elemento es 2, y el segundo elemento es b
En esta tupla, el primer elemento es 3, y el segundo elemento es c
En esta tupla, el primer elemento es 4, y el segundo elemento es d
En esta tupla, el primer elemento es 5, y el segundo elemento es e

## El operador `in`
Ya hemos visto la palabra clave `in` durante el ciclo `for`, pero también podemos usarla para verificar rápidamente si un objeto está en una lista.

In [16]:
'x' in ['x','y','z']

True

In [17]:
'x' in [1, 2, 3]

False

In [18]:
# Cuidado con las mayúsculas y minúsculas
'homer' in ['Marge', 'Bart', 'Homer', 'Lisa']

False

In [19]:
simpson = ['Marge', 'Bart', 'Homer', 'Lisa']
'Homer' in simpson

True

No sólo con listas; intenta usar `in` con conjuntos (_sets_), diccionarios, strings, etc.

In [20]:
s = {1, 2, 3, 4, 5}
3 in s

True

In [21]:
d = {'a': 1, 'b': 2, 'c': 3}
'a' in d

True

In [22]:
1 in d.values()

True

In [23]:
'hola' in 'hola mundo'

True

## Las funciones `min()` y `max()`
Comprueba el mínimo o el máximo de una lista con estas funciones.

In [24]:
mylist = [10, 20, 30, 40, 100]

In [25]:
min(mylist)

10

In [26]:
max(mylist)

100

In [27]:
min(simpson)

'Bart'

## La función `random()`

Python viene con una biblioteca para generar números aleatorios incorporada. Hay muchas funciones incluidas en esta biblioteca, por lo que solo te mostraremos dos funciones útiles por ahora.

In [28]:
from random import shuffle

In [29]:
# Esto baraja o cambia de posición los elementos de la lista "en el lugar", lo que significa que no volverá
# cualquier cosa, en su lugar, afectará el orden de la lista pasada como argumento de la función

shuffle(mylist)

In [30]:
mylist

[30, 20, 10, 100, 40]

In [31]:
from random import randint

In [32]:
# Devuelve un número entero aleatorio en el rango [a, b], incluidos ambos puntos finales.

randint(0, 100)

98

In [33]:
# Otra vez para chequear ...

randint(0,100)

72

## La función `input()`
Esta función ya la hemos usado. Recuerda que devuelve un string.

In [34]:
num= input('Ingresa un número: ')
type(num)

Ingresa un número: 5

str

In [35]:
name = input('Ingresa tu nombre: ')
print(f'Mi nombre es {name}')

Ingresa tu nombre: Giselle
Mi nombre es Giselle

## <font color='blue'>**Operadores de comparación**</font>
Hemos visto operadores de comparación anteriormente, pero repasemos rápidamente todos ellos:

In [36]:
# Less Than (menor que)
1 < 2

True

In [37]:
# Great Than (mayor que)
1 > 2

False

In [38]:
# Check for equality (igualdad)
1 == 1

True

In [39]:
# Check for inequality (desigualdad)
1 != 1

False

In [40]:
# Less than or equal to (menor o igua que)
1 <= 3

True

In [41]:
# Greater than of equal to (mayor o igual que)
1 >= 1

True

## <font color='blue'>**Operadores lógicos (_Logical Operators_)**</font>

Ahora que conocemos los operadores de comparación, podemos usar operadores lógicos para combinar múltiples comparaciones (en general, múltiples declaraciones booleanas)

## El operador `and`
Úsalo cuando quieras comprobar que ambas declaraciones son verdaderas (`True`)

In [42]:
# Verdadero y Verdadero es Verdadero

1 == 1 and 2 == 2

True

In [43]:
# Verdadero y Falso es Falso
1 == 1 and 2 == 1

False

In [44]:
# Falso y Falso es Falso
1 == 2 and 2 == 1

False

## El operador `or`
Úsalo cuando solo una declaración debe ser verdadera (`True`)

In [45]:
# Verdadero o Verdadero es Verdadero

1 == 1 or 2 == 2

True

In [46]:
# Verdadero o Falso es Verdadero

1 == 1 or 2 == 10

True

In [47]:
# Falso o Falso es Falso

1 == 2 or 2 == 10

False

## El operador `not`
El operador `not`  invierte el valor booleano

In [48]:
not 1 == 1

False

In [49]:
# No es muy común ver algo como esto, pero funciona

1 == 1 and not 2 == 3

True

In [50]:
# Un ejemplo más realista

respuesta = 'no'
if 1 == 1 and not respuesta == 'yes':
    print("Exito!")

Exito!

In [51]:
# Lo mismo

respuesta = 'no'
if 1 ==1 and respuesta != 'yes':
    print("Exito!")

Exito!

## <font color='green'>Actividad 1</font>
### Crea una lista con enteros, partiendo desde 0, hasta 102, con paso 3

In [52]:
# Tu código aquí ...

for i in range(0, 103, 3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102

In [53]:
# Otra solución

a = list(range(0, 103, 3))
print(a)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102]

<font color='green'>Fin actividad 1</font>

## <font color='green'>Actividad 2: </font>
### Trabajando con Operadores Lógicos
¿Cuál es el resultado (`True` o `False`) de una expresión como esta?
```Python
    True and False or True and False
```

In [ ]:
# Tu código aquí ...

<font color='green'>Fin actividad 2</font>

## <font color='green'>Actividad 3: </font>
### Trabajando con Operadores Lógicos

¿Cuál es el resultado (`True` o `False`) de una expresión como esta?
```Python
    True or False and True or False
```

In [ ]:
# Tu código aquí ...

<font color='green'>Fin actividad 3</font>

## <font color='green'>Actividad 4: </font>
### Trabajando con Operadores Lógicos
Escribe una expresión como la siguiente, pero usando números
```Python
    True or False and True or False
```
Tip:
```Python
    1 == 1
    True
```

In [ ]:
# Tu código aquí ...

<font color='green'>Fin actividad 4</font>